* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none
}

li {
    list-style: none;
}

body {
    height: 1200px;
}

/*header开始*/
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    height: 40px;
    background-color: #333333;
    color: #ffffff;
    font-size: 12px;
}

header .link-list {

}

header li {
    float: left;
    line-height: 40px;
}

header a {
    color: #ffffff;
    font-size: 12px;
}

header .login {
    float: right;
}

header span {
    margin: 0 6px;
}

/*header结束*/


/*nav开始*/
nav {
    height: 100px;
}

nav img {
    width: 187px;
    height: 55px;
    margin: 23px auto;
}

nav ul {
    float: right;
    margin-right: -23px;
}

.nav-list .nav-item {
    position: relative;
    float: left;
    padding: 0 23px;
    margin-top: 29px;
}

.nav-list .sub-list {
    background-color: #ffffff;
    width: 150px;
    height: 80px;
    padding: 10px 0;
    border: 1px solid #e5e5e5;
    position: absolute;
    left: -31px;
    top: 47px;
    display: none;
}

.nav-list .sub-toggle {
    padding-bottom: 20px;
}

.nav-list .sub-list:hover {
    display: block;
}

.nav-list .sub-toggle:hover + .sub-list {
    display: block;
}

.nav-list .sub-list::before {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    transform: rotate(45deg);
    position: absolute;
    top: -5px;
    left: 72px;
    border-bottom: transparent;
    border-right: transparent;
}

.nav-list .sub-item a {
    font-size: 16px;
}

/*nav ul li:last-child {*/
/*    padding: 0;*/
/*}*/
nav ul a {
    color: #212121;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

nav .sub-link:hover {
    background-color: #eeeeee;
}

nav a:hover {
    color: #e94400;
}

/*nav结束*/

/*banner开始*/
#banner {
    height: 640px;
    background: url(../images/banner.jpg) center;
    /*overflow: hidden;*/
    /*    解决外边距合并*/
    text-align: center;
}

#banner h2 {
    font-size: 54px;
    color: #ffffff;
    font-weight: 300;
    padding-top: 193px;
    /*margin-top: 193px;*/
}

#banner button {
    color: #fff;
    font-size: 24px;
    background: #f93f2b;
    width: 260px;
    height: 60px;
    border-radius: 5px;
    border: none;
    outline: none;
    margin-top: 36px;
    line-height: 60px;
}

#banner button:active, #banner button:hover {
    background: #e33927;
    cursor: pointer;
}

/*banner结束*/

/*main开始*/
main.wrapper {
    height: 469px;
    border: 1px solid #e6e6e6;
    margin-top: -80px;
    background-color: #ffffff;
}

.info-item {
    margin: 30px;
    width: 360px;
    float: left;
    margin-right: 0;
}

.info-item a {
    color: #666;
    font-size: 16px;
}

.info-item .info-img {
    background: url("../images/bg1.png");
    width: 360px;
    height: 180px;
    background-size: cover;
    overflow: hidden;
}

.info-item .info-img p {
    color: #ffffff;
    font-size: 33px;
    margin-top: 44px;
    margin-left: 30px;
}
.info-item .info-img p.desc {
    margin-top: 16px;
}
.info-item ul {
    margin: 20px 30px;
    padding-bottom: 10px;
}
.info-item ul li {
    height: 42px;
    line-height: 42px
}
.info-item span{
    color: #e94400;
}
.info-more {
    width: 300px;
    height: 62px;
    line-height: 62px;
    color: #e94400;
    margin: 0 auto;
    border-top: 1px solid #ececec;
    text-align: center;
}
/*main结束*/
/*footer开始*/
.footer-left {
    float: left;
    margin-top: 100px;
}
.footer-left ul {
    float: left;
}
.footer-left li {
    float: left;
    padding: 0 8px;
    border-right: 1px solid #575757;
    text-align: center;
}
.footer-left li:last-child {
    border-right: 0;
}
.footer-left a {
    color: #575757;
    font-size: 14px;
    display: inline-block;
    height: 14px;
}
.footer-left img {
    width: 36px;
    height: 36px;
    float: left;
    margin-right: 8px;
}
.footer-right {
    float: right;
    margin-top: 81px;
}
.footer-right .desc {
    font-size: 14px;
    color: #575757;
}
.footer-right .tel {
    font-size: 26px;
    color: #e94400;
}
.footer-right .time {
    font-size: 12px;
}
/*footer结束*/